*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
}
.container{
    width: 70%;
    margin: 40px auto;
    text-align: center;
}
.black {
    padding-left: 100px;
    margin-top: 20px;
    display: flex;
    background-color: black;
    width: 100%;
    height: 400px;
    align-self: center;
    align-items: center;
}
img {
    margin-top: 20px;
}
.text {
    margin: 20px;
    font-size: 120px;
    color: white;
}
.content {
    margin: 50px;
}
.white1{
    color: rgba(252, 250, 250, 0.8);
}
.white2{
    color: rgb(252, 250, 250);
}
.blue{
    color: rgba(55, 151, 247, 0.8);
}
.footer {
    width: 40%;
    margin: 0 auto;
}
.footer-text{
    padding: 10px;
    margin: 20px;
    color: gray;
    font-size: 20px;
    text-align: justify;
}